/* card.css */

/* Card Container */
.card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--cardGray);
  text-align: left;
  padding: 1.7em;
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

/* Social Media Brand Colors */
.card.facebook:before {
  background: var(--facebook);
}
.card.twitter:before {
  background: var(--twitter);
}
.card.instagram:before {
  background-image: linear-gradient(to right, var(--instagram-1) 0%, var(--instagram-2) 100%);
}
.card.youtube:before {
  background: var(--youTube);
}

/* Card Title */
.card-title {
  color: var(--cardTitle);
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-title img {
  margin-right: 5px;
}

/* Followers */
.card-followers-number {
  font-size: 28px;
  font-weight: 700;
}

.card-followers-title {
  display: block;
  text-transform: uppercase;
  color: var(--cardTitle);
  letter-spacing: 2px;
  font-size: 0.7em;
}

/* Today's Stats */
.card-today {
  margin-top: 10px;
  color: var(--lime-green);
  font-size: 0.7em;
  font-weight: bold;
}

/* Card Header */
.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-name {
  font-weight: bold;
}

/* Content Text */
.card-content {
  margin-bottom: 20px;
}

.post-text {
  font-size: 14px;
}

/* Card Actions */
.card-actions {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.card-actions button:hover {
  background-color: #333333;
  color: #ffffff;
}

/* Like Button */
.like-button,
.comment-button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.comment-button {
  background-color: lightblue;
  color: blue;
}

/* Footer */
.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

/* Like Button Styles */
.like-button {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.like-button:hover {
  background-color: #333333;
  color: #ffffff;
}

.like-button.liked {
  background-color: #d94f66; /* Green background when liked */
  color: #ffffff;
}

.like-button.liked:hover {
  background-color: #e82946; /* Darker green on hover when liked */
}

/* Post Image */
.post-image {
  width: 100%;
  height: auto;
  margin: 10px auto;
  opacity: 0;
  transition: opacity 2.3s;
  border-radius: 10px;
}

.post-image.loaded {
  opacity: 1;
}

/* Comment Input */
.comment-input {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.comment-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Increased border radius for a smoother look */
  margin-right: 10px;
  outline: none; /* Remove default focus outline */
}

.comment-input button {
  background: none;
  border: none;
  cursor: pointer;
}

.comment-input button:hover {
  color: blue;
}

.comment-input button i {
  font-size: 1.5em;
}

/* Submitted Comment Message */
.comment-submitted {
  color: green;
  margin-top: 5px;
}
